main{
    padding: 2px;
    height: 100vh;
    width: 100%;
}
footer{
    position: absolute;
    bottom: 10px;
    width: 100%;
    margin-top: 5px;
    padding: 10px;
    background-color: black;
    color: white;

}
.letter{
background-color: var(--currentBackColor);
color: var(--currentTextColor);
padding: 0%;
}
.focusedLetter{
    background-color: rgb(77, 101, 42);
    padding: 1px;
    color: var(--currentBackColor);
    max-height: max-content;
    border-radius: 20px;
    text-decoration-line: underline;
}
#header{
    padding: 10px;
    background-color: black;
    color: white;
}
#currentText{
    padding: 5px;
    border-radius: 10px;
    background-color: var(--currentBackColor);
    min-height: 200px;
}
#textAreaElement{
    /* visibility: hidden; */
    margin-top: 3%;
    width: 100%;
    padding: 10px;
    border: 1px solid black;
}
#myText{
    overflow: hidden;
    padding: 5px;
    border-radius: 10px;
    background-color: var(--myBackColor);
    color: var(--myTextColor);
    margin-top: 10px;
    min-height: 200px;
}
#textAreaForm{
    height: max-content;
}

.mybtn{
    margin: 4px;
    min-width: 22%;
}
#result{
    display: none;
    position: fixed;
    top: 30%;
    left: 10%;
    width: 80%;
    height: max-content;
    background-color: tomato;
    color: white;
    padding: 10px;
    border-radius: 10px;

}
.fixed{
    display: none;
    position: fixed;
    top: 30%;
    left: 10vw;
    width: 80vw;
    height: max-content;
    background-color: tomato;
    color: white;
    padding: 10px;
    border-radius: 10px;
    z-index: 2;
}
.language{
    padding: 3px;
}
.language:hover{
    background-color: rgb(77, 101, 42);
    color: var(--currentBackColor);
}
.focusedLanguage{
    background-color: rgb(77, 101, 42);
    color: var(--currentBackColor);
}
.flag{
    width: 30px;
    height: 30px;
    margin-left: 5px;

}
#fr{
    padding: 5px;
    cursor: pointer;
}
#fr:hover{
    background-color: rgb(77, 101, 42);
    color: var(--currentBackColor);
}
#en{
    padding: 5px;
    cursor: pointer;
}
#en:hover{
    background-color: rgb(77, 101, 42);
    color: var(--currentBackColor);
}
#usaFlag{
    width: 40px;
    height: 30px;
}