main{
    padding: 2px;
    height: 100vh;
    width: 100%;
}
footer{
    position: absolute;
    bottom: 10px;
    width: 100%;
    margin-top: 5px;
    padding: 10px;
    background-color: black;
    color: white;

}
.letter{
background-color: var(--currentBackColor);
color: var(--currentTextColor);
padding: 0%;
}
.focusedLetter{
    background-color: rgb(77, 101, 42);
    padding: 1px;
    color: var(--currentBackColor);
    max-height: max-content;
    border-radius: 20px;
    text-decoration-line: underline;
}
#errorAudio{
    display: none;

}
#header{
    padding: 10px;
    background-color: black;
    color: white;
}
#currentText{
    position: relative;
    padding: 5px;
    padding-right: 25px;
    padding-left: 10px;
    border-radius: 10px;
    background-color: var(--currentBackColor);
    height: 300px;
    overflow-y: auto;
}

#textAreaElement{
    /* visibility: hidden; */
    margin-top: 3%;
    width: 100%;
    padding: 10px;
    border: 1px solid black;
}
#myText{
    overflow: hidden;
    padding: 5px;
    border-radius: 10px;
    background-color: var(--myBackColor);
    color: var(--myTextColor);
    margin-top: 10px;
    min-height: 200px;
}
#textAreaForm{
    height: max-content;
}

.mybtn{
    margin: 4px;
    min-width: 22%;
}
#result{
    display: none;
    position: fixed;
    top: 30%;
    left: 10%;
    width: 80%;
    height: max-content;
    background-color: tomato;
    color: white;
    padding: 10px;
    border-radius: 10px;

}
#languages{
    display: none;
    position: fixed;
    top: 30%;
    left: 10vw;
    width: 80vw;
    height: max-content;
    background-color: rgb(165, 139, 135);
    color: white;
    padding: 10px;
    border-radius: 10px;
    z-index: 2;
    overflow-y: auto;
}
.language{
    margin: 3PX;
    padding: 3px;
    cursor: pointer;
    display: flex;
    flex-direction: row;
}
.language:hover{
    background-color: rgb(87, 102, 64);
    color: var(--currentBackColor);
}
.languageName{
    width: 50%;
    text-align: right;
}
.flagDiv{
    width: 50%;
    text-align: left;
}
.focusedLanguage{
    background-color: rgb(77, 101, 42);
    color: var(--currentBackColor);
}
.flag{
    width: 30px;
    height: 30px;
    margin-left: 5px;

}
#fr{
    padding: 5px;
    cursor: pointer;
}
#fr:hover{
    background-color: rgb(77, 101, 42);
    color: var(--currentBackColor);
}
#en{
    padding: 5px;
    cursor: pointer;
}
#en:hover{
    background-color: rgb(77, 101, 42);
    color: var(--currentBackColor);
}
#usaFlag{
    width: 40px;
    height: 30px;
}
#displayEditTextBtn{
    position: absolute;
    right: 0px;
    top: 0px;
    z-index: 3;
    padding: 2px;

}
#errorSoundBtn{
    position: absolute;
    right: 0px;
    top: 35px;
    z-index: 3;
    padding: 2px; 
}
#editedTextBtn{
    width: 50%;
}
#finishEditTextBtn{
    width: 50%;
}
#editText{
    display: none;
    width: 90%;
    height: max-content;
    position: fixed;
    top: 25%;
    left: 5%;
    background-color: black;
    z-index: 3;
    padding: 2px;
}