<main>
  <!--current text:text to type-->
  <div class="container" id="currentText">
    <span
      [ngClass]="{
      letter:!focusedLetter(i),
      focusedLetter:focusedLetter(i),

    }"
      *ngFor="let letter of getCurrentTextTab(); let i = index"
      [id]="i"
      >{{ letter }}</span
    >
  </div>
  <hr />
  <div class="container">
    <!--my text:text which has been typed-->
    <div class="container" id="myText" #myText></div>
    <!-- texterea:fild to type-->

    <form (ngSubmit)="result()">
      <textarea
        #textAreaElement
        [disabled]="currentText.length == textArea.length"
        (input)="check()"
        [(ngModel)]="textArea"
        name="textArea"
        id="textAreaElement"
        cols="70"
        rows="1"
      ></textarea>
    </form>
    <!--next text button-->

    <button
      id="next"
      [disabled]="noNextText()"
      (click)="next()"
      class="btn btn-success mybtn"
    >
      next
    </button>
    <!--previous text button-->
    <button
      [disabled]="noPreviousText()"
      (click)="previous()"
      class="btn btn-warning mybtn"
    >
      previous
    </button>
    <!--score button(activated at the end)-->
    <button
      [disabled]="!isEnableScore()"
      (click)="result()"
      class="btn btn-light mybtn"
    >
      score
    </button>
    <!--restart button-->
    <button (click)="restart()" class="btn btn-primary mybtn">restart</button>
  </div>
  <!--result div-->
  <div id="result">
    <h3 class="text-center"><ins>Results:</ins></h3>
    <!--typeing speed (word per minute)-->
    <div class="text-center">Speed: {{ getSpeed() }} wpm</div>
    <!--number of errors-->
    <div class="text-center">Errors: {{ nbrErrors }} errors</div>
    <!--hide result div button-->
    <button (click)="result()" class="btn btn-warning">finish</button>
  </div>
</main>
