main{
    padding: 10px;
}
.letter{
background-color: white;
color: black;
padding: 0%;
}
.focusedLetter{
    background-color: rgb(77, 101, 42);
    padding: 2px;
    color: white;
    max-height: max-content;
    border-radius: 20px;
    text-decoration-line: underline;
}

#currentText{
    min-height: 200px;
}
#textAreaElement{
    margin-top: 10%;
    width: 100%;
    padding: 10px;
}
#myText{
    margin-top: 10px;
    min-height: 200px;
}

.mybtn{
    margin: 2px;
    min-width: 90px;
}
#result{
    display: none;
    position: fixed;
    top: 30%;
    left: 10%;
    width: 80%;
    height: max-content;
    background-color: tomato;
    color: white;
    padding: 10px;
    border-radius: 10px;

}